@font-face {
  font-family: Tahoma;
  src: url('assets/tahoma.ttf') format('truetype');
}

@font-face {
  font-family: "Tahoma-bold";
  src: url('assets/tahoma-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'ProtestGuerrilla';
  src: url('assets/ProtestGuerrilla.ttf') format('truetype');
}

:root {
  --text-color-1: #ffffff;
  --text-color-2: #afb6be;

  --background-color: #2b4c7c;
  --secondary-background-color: #182a45;
  --third-background-color: #0a1c36;

  --border-radius: 20px;
  --border-radius-round: 100px;

  --border: 1px solid rgba(255, 255, 255, 0.3);
}

* {
  box-sizing: border-box;
  corner-shape: squircle;
}

body {
  font-family: "Tahoma";
  background: var(--background-color);
  margin: 0px;
  text-align: center;
  font-size: 1vw;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
button {
  color: var(--text-color-1);
  font-family: "Tahoma-bold";
}

p,
a{
  color: var(--text-color-2);
  text-decoration: none;
}

h1 {
  font-size: 4vw;
}

h2 {
  font-size: 3vw;
}

h3 {
  font-size: 2vw;
}

h4 {
  font-size: 1.75vw;
}

h5 {
  font-size: 1.5vw;
}

h6 {
  font-size: 1.25vw;
}

button {
  font-size: 1.25vw;
  background: var(--secondary-background-color);
  border: var(--border);
  border-radius: var(--border-radius);
  cursor: pointer;
}

.logo{
  margin: 50px;
  height: 200px;
}

.title {
  font-family: "ProtestGuerrilla";
  margin: 0px;
}

.description-container {
  padding: 50px;
  display: flex;
}

.text {
  min-width: 100px;
  margin: auto;
}

.description {
  padding: 50px;
  width: 50%;
  background: var(--secondary-background-color);
  border-radius: var(--border-radius);
}

.description p {
  line-height: 35px;
}

.associations {
  display: flex;
  margin-right: auto;
  width: min-content;
  margin-left: 15px;
  gap: 15px;
  margin-bottom: 15px;
  border-radius: var(--border-radius);
  padding: 5px;
  background-color: var(--text-color-2);
}

.associations img {
  height: 75px;
}


/*  Social  */
.socials-container {
  margin: 0 auto;
  display: flex;
  gap: 20px;
  width: min-content;
  padding-bottom: 50px;
}

.socials-container a {
  background-color: white;
  padding: 1em;
  border-radius: 50%;
  flex-shrink: 0;
  display: grid;
  place-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.socials-container a svg {
  height: 32px;
}

.socials-container a::before {
  content: attr(data-social);
  position: absolute;
  background-color: var(--accent-color);
  color: white;
  padding: 0.5em 1em;
  border-radius: 100px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  transform: translateY(-30px) rotate(50deg);
  opacity: 0;
  transition: 200ms cubic-bezier(0.42, 0, 0.44, 1.68);
}

.socials-container a:hover {
  background-color: var(--accent-color);
  fill: white;
}

.socials-container a::after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid var(--accent-color);
  transform: translateY(0) rotate(50deg);
  opacity: 0;
  transition: 200ms cubic-bezier(0.42, 0, 0.44, 1.68);
}

.socials-container a:hover::before {
  transform: translateY(-65px) rotate(0);
  opacity: 1;
}

.socials-container a:hover::after {
  transform: translateY(-43px) rotate(0);
  opacity: 1;
}


/*  Menu  */
.menu-button {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 15px 30px;
}


/*  Home button  */
.home-button {
  display: flex;
  flex-wrap: nowrap;
  width: 300px;
  margin: 0 auto;
  padding: 30px;
  cursor: pointer;
  border-radius: var(--border-radius);
  background: var(--secondary-background-color);
  border: var(--border);
}

.home-button p {
  margin: 0 auto;
}