@font-face {
  font-family: Tahoma;
  src: url('../assets/tahoma.ttf') format('truetype');
}

@font-face {
  font-family: 'ProtestGuerrilla';
  src: url('../assets/ProtestGuerrilla.ttf') format('truetype');
}

body,
.home-btn,
.socials-container {
  font-family: Tahoma;
}

.body-sport,
.kitsune {
  font-family: "ProtestGuerrilla";
}

.kick {
  font-family: Impact;
}

strong {
  font-size: 110%;
}