.menu {
  margin: 10px;
  padding: 0;
  font-size: 12pt;
}

nav {
  backdrop-filter: blur(10px);
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: var(--border-radius-round);
  border: 1px solid var(--corner-color);
}

.sezione {
  margin-left: 10px;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

.inside-sezione,
.inside-sezione a {
  padding: 0 25px;
  height: 100%;
  align-items: center;
  text-decoration: none;
  color: var(--text-color-1);
  list-style: none;
  display: flex;
  transition: all 2s ease-in-out;
  width: max-content;
  position: relative;
  transition: scale 0s;
}

.inside-sezione:active {
  transform: scale(90%);
}

.inside-sezione a {
  padding: 0 25px 0 0px;
}

.inside-sezione svg {
  padding-top: 10px;
  padding-bottom: 10px;
}

.inside-sezione::after {
  content: '';
  background: linear-gradient(to right, #a3a3a3, #c4c4c4, #a3a3a3);
  border-radius: var(--border-radius-round);
  height: 4px;
  width: 0%;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, 25%);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.inside-sezione:hover::after {
  width: 70%;
  opacity: 1;
}

nav li {
  border-radius: var(--border-radius-round);
  transition: all 0.3s ease-in-out;
}

nav li:hover {
  background: var(--corner-color);
}

.sport,
.contatti {
  height: 100%;
}

.sport ul,
.contatti ul {
  top: 100%;
  position: absolute;
  list-style: none;
  min-width: 100px;
  width: max-content;
  backdrop-filter: blur(50px);
  border-radius: var(--border-radius);
  border: 1px solid var(--corner-color);
  padding: 10px;
  box-shadow: 0 10px 50px var(--accent-color-hover-black);
  cursor: default;
}

.sport ul {
  right: 0%;
}

.contatti ul {
  right: 350px;
  max-width: 350px;
}

.sport ul li,
.contatti ul li {
  margin: 15px 25px;
  padding: 20px;
  cursor: pointer;
  height: 100%;
}

.sport ul li a,
.contatti ul li {
  color: var(--text-color-1);
  text-decoration: none;
  list-style: none;
}

.menu-titoli {
  border-radius: 0px;
  border-top: 2.5px solid var(--corner-color);
  border-bottom: 2.5px solid var(--corner-color);
}

.menu-titoli:hover,
.numeri-telefono:hover,
.menu-desc:hover {
  cursor: default;
  background: none;
}

.menu-desc {
  border-top: 2.5px solid var(--corner-color);
  border-radius: 0px;
  font-size: 80%;
  margin: 0px;
  padding: 0px;
}