@font-face {
  font-family: Tahoma;
  src: url('../assets/tahoma.ttf') format('truetype');
}

@font-face {
  font-family: 'ProtestGuerrilla';
  src: url('../assets/ProtestGuerrilla.ttf') format('truetype');
}

:root {
  --text-color-1: #ffffff;
  --text-color-2: #afb6be;

  --accent-color-hover-black: #00000070;
  --accent-color-hover-white: #9b9b9b21;

  --background-color: #2b4c7c;
  --background-color-2: #182a45;
  --background-color-3: #0a1c36;

  --corner-color: #ffffff1d;

  --border-radius: 10px;
  --border-radius-round: 100px;

  --liquid-glass-background: rgba(255, 255, 255, 0.1);
  --liquid-glass-background-dark: rgba(10, 10, 10, 0.1);
  --liquid-glass-border: 1px solid rgba(255, 255, 255, 0.3);
  --liquid-glass-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  --liquid-glass-blur: blur(5px);
}

@media (width <=750px) {

  .logo-kitsune,
  .logo-sport,
  .jujitsu-giappo,
  .karate-giappo,
  .desc-wave,
  .mid-wave,
  .inside-sezione svg {
    display: none;
  }

  .contatti ul {
    right: 90px;
  }

  .desc {
    padding: 50px;
  }

  .desc div {
    max-width: 100%;
  }

  .gallery-img {
    width: 70%;
    min-width: 70%;
    max-height: 250px;
    margin: 0px;
    padding: 0px;
  }

  .gallery {
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .contatti ul {
    left: 0%;
    right: 0px;
  }

  .sezione {
    flex: 1;
    margin-left: 0px;
    background: var(--corner-color);
    width: max-content;
  }

  nav {
    gap: 15px;
  }

  .inside-sezione {
    padding: 0px;
    flex: 1;
  }

  .inside-sezione a {
    padding: 0px;
  }

  .sport,
  .contatti,
  li div a {
    margin: 0 auto;
  }

  nav {
    border: none
  }
}

body,
.home-btn,
.socials-container {
  font-family: Tahoma;
}

.body-sport,
.kitsune {
  font-family: "ProtestGuerrilla";
}

.kick {
  font-family: Impact;
}

strong {
  font-size: 110%;
}

@media (width > 750px) {
  .gallery-img {
    height: 250px;
    width: 350px;
    flex: 1;
  }

  .gallery-img:hover {
    scale: 110%;
  }

  .gallery {
    flex-wrap: wrap;
    width: 70%;
  }
}

body {
  background: var(--background-color);
  background-size: cover;
  margin: 0px;
}

h1,
h2,
h3,
li,
strong {
  color: var(--text-color-1);
  text-align: center;
}

h4,
p,
a {
  color: var(--text-color-2);
  text-align: center;
}

.mid {
  background: var(--background-color-3);
  margin-bottom: 100px;
}

.mid-wave {
  background: var(--background-color-2);
  margin-bottom: -5px;
}

.desc {
  background: var(--background-color-2);
}

.desc div {
  max-width: 60%;
}

.desc-wave {
  display: block;
}

.desc-wave {
  background: var(--background-color);
}

.kitsune {
  margin: 0 auto;
  width: fit-content;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 200%;
  gap: 25px;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-round);
  transition: all 0.2s ease-in-out;
}

.kitsune h1 {
  margin: 0px;
}

.logo-kitsune {
  height: 100px;
  border-radius: 100%;
}

.desc-container{
  min-width: min-content;
  max-width: 70%;
  margin: 0 auto;
  line-height: 250%;
  display: flex;
  align-items: center;
}

.desc-container div,
.pos-container div {
  margin: 0 auto;
}

.jujitsu-giappo,
.karate-giappo {
  min-width: 100px;
  margin: 0px 25px;
}

.associazioni {
  display: flex;
  margin-right: auto;
  width: min-content;
  margin-left: 15px;
  gap: 15px;
  margin-bottom: 15px;
  border: 1px solid var(--corner-color);
  border-radius: var(--border-radius);
  padding: 5px;
  background-color: var(--text-color-2);
}

.associazioni img {
  height: 75px;
}


/*  Social  */
.socials-container {
  margin: 0 auto;
  display: flex;
  gap: 20px;
  width: min-content;
  padding-bottom: 50px;
}

.socials-container a {
  background-color: white;
  padding: 1em;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  box-sizing: border-box;
  flex-shrink: 0;
  display: grid;
  place-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.socials-container a svg {
  height: 32px;
}

.socials-container a::before {
  content: attr(data-social);
  position: absolute;
  background-color: var(--accent-color);
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 100px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  transform: translateY(-30px) rotate(50deg);
  opacity: 0;
  transition: 200ms cubic-bezier(0.42, 0, 0.44, 1.68);
}

.socials-container a:hover {
  background-color: var(--accent-color);
  fill: white;
}

.socials-container a::after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid var(--accent-color);
  transform: translateY(0) rotate(50deg);
  opacity: 0;
  transition: 200ms cubic-bezier(0.42, 0, 0.44, 1.68);
}

.socials-container a:hover::before {
  transform: translateY(-65px) rotate(0);
  opacity: 1;
}

.socials-container a:hover::after {
  transform: translateY(-43px) rotate(0);
  opacity: 1;
}