.gallery {
  padding: 75px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;
  display: flex;
  background: var(--background-color-2);
  border-radius: var(--border-radius);
  column-gap: 50px;
  row-gap: 50px;
}

.gallery-img {
  cursor: pointer;
  object-fit: cover;
  border-radius: var(--border-radius);
  border: 2.5px solid var(--corner-color);
  transition: all 0.25s ease-in-out;
}